[[rules]]
id = "generic-password-assignment"
description = "Detect hardcoded password assignments"
regex = '''(?i)\b(password|access_token)\b\s*=\s*["']([A-Za-z0-9!@#$%^&*()_+\\-=\\[\\]{};':",./<>?|`~]+)["']'''
secretGroup = 2
