name: Gitleaks Secret Scan

on:
  push:
    branches: 
      - main
      - feature/test-secrets
  pull_request:
    branches: 
      - main
      - feature/test-secrets

jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Gitleaks
        uses: gitleaks/gitleaks-action@v2
        with:
          args: detect --source . --exit-code 1
